<section class="mx-auto w-full max-w-screen-sm px-4">
  <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">
    <!-- Título -->
    <div>
      <label
        for="titulo"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Título</label
      >
      <input
        type="text"
        id="titulo"
        formControlName="titulo"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      />
    </div>

    <!-- Descripción -->
    <div>
      <label
        for="descripcion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Descripción</label
      >
      <textarea
        id="descripcion"
        formControlName="descripcion"
        rows="3"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      ></textarea>
    </div>

    <!-- Ingredientes -->
    <div>
      <label
        for="ingredientes"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Ingredientes (separados por coma)</label
      >
      <input
        type="text"
        id="ingredientes"
        [value]="form.value.ingredientes?.join(', ')"
        (input)="onIngredientesInput($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      />
    </div>

    <!-- Pasos -->
    <div>
      <label
        for="pasos"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Pasos (separados por coma)</label
      >

      <input
        type="text"
        id="pasos"
        [value]="form.value.pasos?.join(', ')"
        (input)="onPasosInput($event)"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      />
    </div>

    <!-- Público -->
    <div>
      <label class="inline-flex items-center cursor-pointer">
        <input formControlName="publico" type="checkbox" class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-checked:bg-green-600 after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:after:translate-x-full"
        ></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Público</span
        >
      </label>
    </div>

    <!-- Nivel de dificultad -->
    <div>
      <label
        for="nivelDificultad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nivel de dificultad</label
      >
      <select
        id="nivelDificultad"
        formControlName="nivelDificultad"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      >
        <option value="fácil">Fácil</option>
        <option value="media">Media</option>
        <option value="difícil">Difícil</option>
      </select>
    </div>

    <!-- Tiempo de elaboración -->
    <div>
      <label
        for="tiempoElaboracion"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tiempo de elaboración (minutos)</label
      >
      <input
        type="number"
        id="tiempoElaboracion"
        formControlName="tiempoElaboracion"
        min="1"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
      />
    </div>

    <!-- Botón de envío -->
    <button
      [disabled]="loading()"
      type="submit"
      class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      {{ loading() ? "Guardando..." : "Guardar" }}
    </button>
  </form>
</section>
